#!/usr/bin/env bash

# functions
# --------

# set up default tmux layout: one session, one window, three panes
function mux() {
    usage="usage: mux <session-name>"

    if [ -z "$1" ]; then
        echo "$usage"
        return 1
    fi

    tmux new-session -s "$1" -d
    tmux split-window -h
    tmux split-window -v
    tmux attach-session -t "$1"
}

# converts quicktime screen recording to a gif
function mov2gif() {
    usage="usage: mov2gif <input> <output>"

    if [ -z "$1" ] || [ -z "$2" ]; then
        echo "$usage"
        return 1
    else
        in=$1
        out=$2

        if [ -f "$in" ]; then
            ffmpeg -hide_banner -loglevel quiet -i "$in" -s 600x400 -pix_fmt rgb24 -r 10 -f gif - | gifsicle --optimize=3 --delay=3 > "$out"
        else
            echo "error: input is not a file"
            return 1
        fi
    fi
}

# starts a python server, with optional port argument
function server() {
    python -m SimpleHTTPServer "${1:-8080}"
}
