"*":
  welcome:
    showOnStartup: false
  editor:
    fontSize: 11
    invisibles: {}
    softWrap: true
    tabLength: 4
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "atom-ternjs": {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "source.md"
    ]
  "autoclose-html": {}
  "git-plus": {}
  "linter-csslint": {}
  "one-dark-ui": {}
  pigments:
    supportedFiletypes: [
      ".css"
      ".scss"
      ".sass"
      ".less"
    ]
