"*":
  "atom-ternjs":
    useSnippets: true
  "autoclose-html": {}
  "autocomplete-go": {}
  "autocomplete-python": {}
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Monaco"
    fontSize: 11
    invisibles: {}
    softWrap: true
    tabLength: 4
  "git-plus": {}
  linter: {}
  "linter-csslint": {}
  "linter-golinter": {}
  "linter-htmlhint": {}
  "linter-javac": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "linter-shellcheck": {}
  "merge-conflicts": {}
  minimap: {}
  "one-dark-ui": {}
  "pdf-view": {}
  pigments:
    sortPaletteColors: "by name"
    supportedFiletypes: [
      ".css"
      ".scss"
      ".sass"
      ".less"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "source.md"
    ]
  "terminal-plus":
    core: {}
    style:
      fontFamily: "Monaco"
      fontSize: "11"
    toggles:
      autoClose: true
  "todo-show": {}
  "travis-ci-status": {}
  welcome:
    showOnStartup: false
