# catch all

* text=auto

# documents

*.doc       diff=astextplain
*.DOC       diff=astextplain
*.docx      diff=astextplain
*.DOCX      diff=astextplain
*.dot       diff=astextplain
*.DOT       diff=astextplain
*.pdf       diff=astextplain
*.PDF       diff=astextplain
*.rtf       diff=astextplain
*.RTF       diff=astextplain
*.md        text
*.adoc      text
*.textile   text
*.mustache  text
*.csv       text
*.tab       text
*.tsv       text
*.sql       text

# graphics

*.ai        binary
*.bmp       binary
*.eps       binary
*.gif       binary
*.ico       binary
*.jng       binary
*.jp2       binary
*.jpg       binary
*.jpeg      binary
*.jpx       binary
*.jxr       binary
*.pdf       binary
*.png       binary
*.psb       binary
*.psd       binary
*.svg       text
*.svgz      binary
*.tif       binary
*.tiff      binary
*.wbmp      binary
*.webp      binary

# archives

*.7z        binary
*.gz        binary
*.rar       binary
*.tar       binary
*.zip       binary

# fonts

*.ttf       binary
*.eot       binary
*.otf       binary
*.woff      binary
*.woff2     binary

# audio

*.kar       binary
*.m4a       binary
*.mid       binary
*.midi      binary
*.mp3       binary
*.ogg       binary
*.ra        binary

# video

*.3gpp      binary
*.3gp       binary
*.as        binary
*.asf       binary
*.asx       binary
*.fla       binary
*.flv       binary
*.m4v       binary
*.mng       binary
*.mov       binary
*.mp4       binary
*.mpeg      binary
*.mpg       binary
*.swc       binary
*.swf       binary
*.webm      binary
