#!/usr/bin/env bash

# aliases
#
# useful aliases to shorten common commands
# --------

# neovim instead of vim

alias vim='nvim'
alias vi='nvim'
alias vimrc='vim ~/.config/nvim/init.lua'

# allow sudo for aliases

alias sudo='sudo '

# cd stuff

alias up='cd ..'
alias ~='cd ~'
alias -- -='cd -'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# verbose output for file and folder actions

alias mv='mv -v'
alias rm='rm -v'
alias cp='cp -v'
alias mkdir='mkdir -v'

# colored output

alias ls='ls -GF --color'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# files

alias sizeof='du -sh'

# ripgrep

alias rgs="rg --hidden --smart-case --fixed-strings --line-number --color=always"
alias rgf="rg -l --hidden --smart-case --fixed-strings --line-number --color=always"

# usage info

alias cpu='top -o cpu'
alias mem='top -o mem'

# ip

alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# git

alias g='git'
alias wip='git add -A && git commit -m "work in progress" --no-verify'

# misc. tools

alias c='clear'
alias dl='youtube-dl -x'
alias flac2mp3='for f in *.flac; do ffmpeg -i "$f" -aq 1 "${f%flac}mp3"; done'
alias notify='tput bel'
alias path='echo -e ${PATH//:/\\n}'
alias space='df -P -kHl'
alias ports='lsof -n -i -P | grep LISTEN'

# rails

alias rake='bundle exec rake'
alias r='bundle exec rails'
alias rch='bundle exec rspec $(git ls-files --modified --others spec)'

# stupid stuff

alias fuckoff='exit'
alias big='figlet -c -f "roman"'
