#!/usr/bin/env bash

# exports
#
# global variables
# --------

# english & utf-8

export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# set neovim to default editor

export EDITOR="nvim"

# increase history size & ignore duplicates, make sure history is shared (see .bash_prompt for more)

export HISTSIZE="100000"
export HISTFILESIZE="${HISTSIZE}"
export HISTTIMEFORMAT="%F %T "
export HISTCONTROL="ignoredups:erasedups"

# java

export JAVA_HOME
JAVA_HOME="$(/usr/libexec/java_home)"

# go

export GOPATH="$HOME/.go"

# rust

export CARGOPATH="$HOME/.cargo"

# node

export N_PREFIX="$HOME/.n"

# pyenv

export LDFLAGS="-L/usr/local/opt/zlib/lib"
export CPPFLAGS="-I/usr/local/opt/zlib/include"

export PYENV_VIRTUALENV_DISABLE_PROMPT=1

# ignore python 2 deprecation warnings

export PYTHONWARNINGS="ignore:DEPRECATION"

# postgresql

export PGDATA="/usr/local/var/postgres"
export PGHOST=localhost

# mutt

export COLORFGBG="default;default"

# openvpn

export OPENVPN_PATH
OPENVPN_PATH="$(brew --prefix openvpn)"

# path

export PATH="$HOME/.bin:$HOME/.poetry/bin:$N_PREFIX/bin:$GOPATH/bin:$CARGOPATH/bin:$OPENVPN_PATH/sbin:/usr/local/sbin:$PATH"
