#!/usr/bin/env bash

# functions
#
# useful utility functions
# --------

# Run something n times
#
# Params:
#     n - Number of iterations
#     args - Command and arguments to loop
#
# Usage: loop n args
function loop() {
  for (( n=0; n<$1; n++ )); do
    # shellcheck disable=SC2048
    ${*:2}
  done
}

# Update various dependencies for different languages
#
# Usage: update
function update() {
  # node.js
  sudo npm update -g
  yarn global upgrade

  # python
  pip install --upgrade pip
  pip --disable-pip-version-check list --outdated --format=json | python -c "import json, sys; print('\n'.join([x['name'] for x in json.load(sys.stdin)]))" | xargs -n1 pip install -U
  pipx upgrade-all

  # ruby
  gem update

  # rust
  # shellcheck disable=SC2046
  cargo install $(cargo install --list | egrep '^[a-z0-9_-]+ v[0-9.]+:$' | cut -f1 -d' ')

  # go
  # requires go-global-update (see https://github.com/Gelio/go-global-update)
  go-global-update
}

# Convert flac files in current directory to mp3
#
# Usage: flac2mp3
function flac2mp3() {
  for f in *.flac; do
    ffmpeg -i "$f" -aq 1 "${f%flac}mp3"
  done
}

# Converts a video file to mp4
#
# Params:
#     infile - input file
#
# Usage: vid2mp4 input
#
function vid2mp4() {
  usage="usage: vid2mp4 input"

  if [ -z "$1" ]; then
    echo "$usage"
    return 1
  elif command -v ffmpeg &> /dev/null; then
    filename="$(echo "$1" | cut -d . -f 1)"

    ffmpeg -i "$1" -c:v libx264 -crf 23 -c:a aac -q:a 100 "$filename.mp4"

    echo "$1 converted and saved to $2"
  else
    echo "fatal: ffmpeg is not installed"
    return 1
  fi
}

# Cuts out a specific time window from an input video
#
# Params:
#     input    - input file
#     output   - output file name
#     start    - starting timestamp (format: hh:mm:ss)
#     duration - length to slice, starting at 'start' timestamp
#
# Usage: vidslice input output start duration
#
function vidslice() {
  usage="usage: vidslice input output start duration"

  # check that all args are present, and that input is a file
  if [ -z "$1" ] || [ ! -f "$1" ] || [ -z "$2" ] || [ -z "$3" ] || [ -z "$4" ]; then
    echo "$usage"
    return 1
  elif command -v ffmpeg &> /dev/null; then
    ffmpeg -ss "$3" -t "$4" -i "$1" -vcodec copy -acodec copy "$2"

    echo -e "\n\nsliced $4 from $1, starting at $3, and saved to $2"
  else
    echo "fatal: ffmpeg not installed"
    return 1
  fi
}

# Converts Quicktime screen recording to a gif
#
# Params:
#     infile - input file (.mov)
#     outfile - output filename (.gif)
#
# Usage: mov2gif infile outfile
#
function mov2gif() {
  usage="usage: mov2gif input.mov output.gif"

  if [ -z "$1" ] || [ -z "$2" ]; then
    echo "$usage"
    return 1
  elif command -v ffmpeg &> /dev/null && command -v gifsicle &> /dev/null; then
    infile="$1"
    outfile="$2"

    if [ -f "$infile" ]; then
      ffmpeg -hide_banner -loglevel quiet -i "$infile" -s 600x400 -pix_fmt rgb24 -r 10 -f gif - | gifsicle --optimize=3 --delay=3 > "$outfile"

      echo "${infile} converted and saved to ${outfile}"
    else
      echo "fatal: ${infile} is not a file"
      return 1
    fi
  else
    echo "fatal: ffmpeg and gifsicle are not installed"
    return 1
  fi
}

# Create a good tmux setup or attach to an existing one
#
# Params:
#   name - session name (defaults to "home")
#
# Usage: mux [name]
#
function mux() {
  if [[ -z "$1" ]]; then
    TMUX_SESSION="home"
  else
    TMUX_SESSION="$1"
  fi

  # check if server already running, start a "dummy" session if not
  if ! tmux info &> /dev/null; then
    tmux new -s "_default" -d
  fi

  # set up windows and panes
  if ! tmux has-session -t "$TMUX_SESSION" &> /dev/null; then
    # first window has 3 panes
    tmux new-session -s "$TMUX_SESSION" -n "main" -d
    tmux split-window -h -t "$TMUX_SESSION:0"
    tmux split-window -v -t "$TMUX_SESSION:0"

    # set up vim in full screen window
    tmux new-window -t "$TMUX_SESSION:1" -n "editor"
    tmux send-keys -t "$TMUX_SESSION:1" vim Enter

    # set up 4 equal panes, useful for watching logs
    tmux new-window -t "$TMUX_SESSION:2" -n "logs"
    tmux split-window -h -t "$TMUX_SESSION:2"
    tmux split-window -v -t "$TMUX_SESSION:2.0"
    tmux split-window -v -t "$TMUX_SESSION:2.2"

    # set up logging
    tmux send-keys -t "$TMUX_SESSION:2.0" "journalctl -f" Enter
    tmux send-keys -t "$TMUX_SESSION:2.2" glances Enter
  fi

  # attach to first pane of first window
  tmux attach-session -t "$TMUX_SESSION:0.0"
}

# Starts a Python server, with optional port argument
#
# Params:
#     port - Optional port to serve at (defaults to 8080)
#
# Usage: server [port]
#
function serve() {
  python -m http.server "${1:-8080}"
}

# Installs peer dependencies for JavaScript projects, using Yarn
#
# Params:
#     package - package name
#
# Usage: peerdeps package
function peerdeps() {
  local PKG="$1"
  npm info "$PKG@latest" peerDependencies --json | command sed 's/[\{\},]//g ; s/: /@/g' | xargs yarn add --dev "$PKG@latest"
}

# Recursively find and replace text within files in a directory
#
# Params:
#    old: Text to search for
#    new: Replacement text
#
# Usage: sub old new
function sub() {
  usage="usage: sub old new"

  if [ -z "$1" ] || [ -z "$2" ]; then
    echo "$usage"
    return 1
  fi

  if command -v rg &> /dev/null; then
    rg "$1" --files-with-matches | xargs sed -i '' "s/$1/$2/g"
  else
    echo "fatal: ripgrep must be installed"
    return 1
  fi
}

# vterm (emacs)
#
# https://github.com/akermu/emacs-libvterm?tab=readme-ov-file#shell-side-configuration
vterm_printf() {
    if [ -n "$TMUX" ] \
        && { [ "${TERM%%-*}" = "tmux" ] \
            || [ "${TERM%%-*}" = "screen" ]; }; then
        # Tell tmux to pass the escape sequences through
        printf "\ePtmux;\e\e]%s\007\e\\" "$1"
    elif [ "${TERM%%-*}" = "screen" ]; then
        # GNU screen (screen, screen-256color, screen-256color-bce)
        printf "\eP\e]%s\007\e\\" "$1"
    else
        printf "\e]%s\e\\" "$1"
    fi
}
