#!/usr/bin/env bash

# inputrc
#
# readline init file settings
# --------

# settings

# use vim keybindings instead of emacs
set editing-mode vi

# show ins/cmd mode
set show-mode-in-prompt on

# cursor shape based on mode
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[2 q\2

# utf-8 input and output instead of escape sequences
set input-meta on
set output-meta on
set convert-meta off

# no "." needed for dotfiles completion
set match-hidden-files on

# display matches for ambiguous patterns on first tab keypress
set show-all-if-ambiguous on

# first display common prefix, then cycle through options with tab
set menu-complete-display-prefix on

# autocompletion for symlinks
set mark-symlinked-directories on

# prompt when more than 100 completion options available
set completion-query-items 100

# ignore case when completing
set completion-ignore-case on

# treat "-" and "_" as the same when completing
set completion-map-case on

# example: if current line is "ls ~/my/fold", and cursor is
# at "ls ~/my/fo", you'll get "my/folder" rather than "my/folderld"
# because it'll be aware of what's been typed, rather than just what's
# behind the cursor
set skip-completed-text on

# keep tilde as tilde
set expand-tilde off

# show more file info, "ls -F" style
set visible-stats on

# colorize completion options by filetype (disabled in tmux due to rendering issue)
$if term=tmux-256color
  set colored-stats off
$else
  set colored-stats on
$endif

# --------
# command mode settings
# --------
set keymap vi-command

# insert arguments from last command
"p": "i !!*"

# --------
# insert mode settings
# --------

set keymap vi-insert

# cycle through options with tab and shift-tab
TAB: menu-complete
"\e[Z": menu-complete-backward

# up and down arrows for history search
"\e[A": history-search-backward
"\e[B": history-search-forward

# negate above mapping of p
"p": self-insert
